.hnspecial-fold-comment-button
  font inherit
  border none
  font-weight 200
  background none
  cursor pointer
  margin 0
  padding 0

  &:hover
    text-decoration underline

.hnspecial-folded-comment
  > *:not(:first-child)
    display none

.hnspecial-folded-row
  display none
